.page-container .self-image {
    width: 275px;
    height: 275px;
    border-radius: 50%;
    padding: 20px;
}

.about-container {
    width: 1300px;
}

.page-container .details-container {
    text-align: left;
    width: 100%;
}

.details-container p{
    margin: 10px 0;
    color: gray;
}

.about-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
}

.icon-row >* {
    margin-right: 25px;
}

.social-icon i {
    font-size: 40px;
    transition: 0.5s;
}

.social-icon i:hover {
    color: rgb(109,131,242);
    transform: scale(1.30);
}

.details-title {
    color: black !important;
    font-weight: bold;
    font-size: 35px !important;
}

.details-main {
    color: black !important;
}

.exp-header h2 {
    align-items: center;
    font-weight: 500;
    color: white;
    display: block;
    height: 60px;
    width: 60px;
    line-height: 60px;
    -moz-border-radius: 50%;
    border-radius: 50%; 
    text-align: center;
    font-size: 1em;
}

.exp-title {
    display: list-item;      
    list-style-type: disc;     
    list-style-position: inside; 
}

.exp-header .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.exp-header p {
    font-size: 17px;
}

.main-grid >* ul {
    margin-left: 29px;
}

.main-grid >* .exp-title {
    margin-left: 26px;
}

.main-grid >* .ul-line {
    border-left: 2px solid black;
}

.main-grid >* li {
    margin-left: 10px;
    color: #373737 !important;
}

.main-grid >* ul .job-title {
    color: #565656;
    font-size: 15px;
    margin-left: -17px;
    margin-bottom: 20px;
    margin-top: -5px;
}

@media (width < 1900px) {
    .about-container{
        width: 80%;
    }
}

@media (width < 1600px) {
    .about-container{
        width: 80%;
    }
}

@media (width < 1268px) {
    .about-container {
        width: 90%;
    }
    
    p {
        font-size: 20px;
    }
}

@media (width < 768px) {
    .about-row {
        flex-direction: column;
    }

    .icon-row >* {
        margin-right: 10px;
    } 
}