.page-container .self-image {
    width: 275px;
    height: 275px;
    border-radius: 50%;
    padding: 20px;
}

.about-container {
    width: 60%;
}

.page-container .details-container {
    text-align: left;
    width: 100%;
}

.details-container p{
    margin: 10px 0;
    color: gray;
}

.about-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
}

.icon-row >* {
    margin-right: 25px;
}

.social-icon i {
    font-size: 40px;
    transition: 0.5s;
}

.social-icon i:hover {
    color: #4285F4;
    transform: scale(1.30);
}

.details-title {
    color: black !important;
    font-weight: bold;
    font-size: 35px !important;
}

.details-main {
    color: black !important;
}

@media (width < 1900px) {
    .about-container{
        width: 80%;
    }
}

@media (width < 1600px) {
    .about-container{
        width: 80%;
    }
}

@media (width < 1268px) {
    .about-container {
        width: 90%;
    }
    
    p {
        font-size: 20px;
    }
}

@media (width < 768px) {
    .about-row {
        flex-direction: column;
    }
}