.contact-container {
    padding: 100px 20%;
    color: white;
    background-color: #1e1e1e;
}

.contact-container p {
    opacity: 0.75;
}

.contact-icon {
    position: sticky;
    top: calc(100vh - 100px - 290px);
    margin-left: calc(100vw - 230px);
    text-align: right;
    margin-right: 50px;
    z-index: 10;
}

.contact-contents {
    position: absolute;
    top: 290px;
    left: 100px;
}

.contact-icon .main-icon {
    font-size: 25px;
    color: white;
    padding: 12px;
    border-radius: 50%;
    background-color: #FF5733;
    transition: 0.5s;
}

.main-icon:hover {
    transform: scale(1.15);
    cursor: pointer;
}

.contact-icon button {
    border: none;
    background-color: transparent;
}

@media (width < 1900px) {
    .contact-container {
        padding: 100px 10%;
    }
}

@media (width < 768px) {
    .contact-container {
        padding: 100px 5%;
    }

    
.contact-contents {
    position: absolute;
    top: 310px;
    left: 120px;
}
}