.contact-container {
    padding: 100px 20%;
    color: white;
    background-color: #1e1e1e;
}

.contact-container p {
    opacity: 0.75;
}

.contact-icon {
    position: sticky;
    top: calc(100vh - 100px - 250px);
    margin-left: calc(100vw - 300px);
    text-align: right;
    margin-right: 50px;
    z-index: 10;
}

.contact-contents {
    position: absolute;
}

.contact-icon i {
    font-size: 50px;
    color: #FF5733;
}

.contact-icon:hover .contact-content {
    background-color: white;
    color:black;
    box-shadow: rgba(149, 157, 165, 0.7) 0px 8px 15px;
}

.contact-content {
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    color:transparent;
    box-sizing: border-box;
    padding: 25px;
    border-radius: 20px;
    margin-bottom: 25px;
    transition: 0.5s;
}

@media (width < 1900px) {
    .contact-container {
        padding: 100px 10%;
    }
}

@media (width < 768px) {
    .contact-container {
        padding: 100px 5%;
    }
}