.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    min-height: 100vh;
}

.page-container .row {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 50%;
    padding: 100px 15%;
    align-items: center;
}

.row h1, .row h2 {
    letter-spacing: 4px;
}

.row h1 {
    font-size: 30px;
}

.row h2 {
    font-size: 20px;
}

.column-layout {
    display: flex;
    flex-direction: row;
}

@media (width < 1900px) {
    .page-container .row {
        padding: 50px 10%;
    }
}

@media (width < 1268px) {
    .column-layout {
        display: block;
    }

    .page-container .row {
        width: 100%;
    }
}

@media (width < 768px) {
    .page-container .row {
        padding: 50px 5%;
    }
}