.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fefefe;
    min-height: calc(100vh - 50px);
    box-sizing: border-box;
    padding: 100px 0;
}

.page-container .row {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 50%;
    padding: 100px 15%;
    align-items: center;
}

.main-text {
    width: 800px;
    text-align: center;
}

.main-text .logo-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 20%;
    font-size: 30px;
}

.logo-container p {
    border: 3px solid transparent;
}

.logo-container p:hover {
    border-bottom: 3px solid #0F9D58;
}

.page-container h1 {
    font-size: 50px;
    font-weight: 500;
}

.page-container h2 {
    font-size: 30px;
    font-weight: 400;
    color: #5e5e5e;
}

.page-container .main-grid {
    display: flex;
    flex-direction: row;
    width: calc(60% + 60px);
    flex-wrap: wrap;
    justify-content: space-between;
}

.notch {
    width: 100px;
    margin-left: 0;
}

.main-grid >* {
    width: 48%;
    padding: 30px;
    box-sizing: border-box;
    height: auto;
    transition: 0.5s;
}

.main-grid >*:hover {
    box-shadow: rgba(149, 157, 165, 0.7) 0px 8px 15px;
}

.main-grid p {
    margin: 2px;
    font-size: 20px;
}

.main-grid li {
    font-size: 12px !important;
}

.row h1, .row h2 {
    letter-spacing: 4px;
}

.row h1 {
    font-size: 30px;
}

.row h2 {
    font-size: 20px;
}

.column-layout {
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
    color: inherit;
}

.main-grid li {
    color: #5e5e5e;
}

.bold {
    font-weight: bold;
}

.p20 p {
    font-size: 20px;
}

.btn-resume {
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #4285F4;
    color: white;
    border: none;
    font-size: 20px;
    transition: 0.5s;
}

.btn-resume:hover {
    background-color: #0F9D58;
}

hr {
    width: 100%;
    background-color: #4285F4;
    height: 3px;
}

/* Colors */

.violet {
    color: #3d2be2;
}

.salmon {
    color: #FF5733;
}

.blue-color {
    color: #4285F4;
}

.red-color {
    color: #DB4437;
}

.yellow-color {
    color: #F4B400;
}

.green-color {
    color:#0F9D58;
}

@media (width < 1900px) {
    .page-container .row {
        padding: 50px 10%;
    }

    .page-container .main-grid {
        width: calc(80% + 60px);
    }
}

@media (width < 1600px) {
    
}

@media (width < 1268px) {
    .column-layout {
        display: block;
    }

    .page-container .row {
        width: 100%;
    }

    .page-container .main-grid {
        grid-template-columns: 1fr;
    }

    .main-grid >* {
        padding: 30px 0;
    }

    .main-text {
        width: 100%;
        box-sizing: border-box;
        padding: 0 5%;
    }

    .page-container h2 {
        font-size: 20px;
    }

    .page-container .row {
        padding: 50px 5%;
    }

    .page-container .main-grid {
        width: 90%;
    }

    .page-container .main-grid {
        width: 100%;
    }

    .main-grid >* {
        width: 100%;
        box-sizing: border-box;
        padding: 20px 5%;
    }
}

@media (width < 768px) {
    .main-text {
        width: 100%;
        padding: 20px 5%;
    }

    .main-text h2 {
        text-align: left;
    }

    .main-text .logo-container {
        padding: 0 10%;
    }
}