.landing {
    background-color: #1e1e1e;
    box-sizing: border-box;
    padding: 10%;
}

.landing h1, .landing p, .landing h2, .landing i{
    color: #f9f9f9 !important;
}

.landing h1 {
    letter-spacing: 5px;
    font-size: 80px;
    margin: 5px;
}

.landing p {
    font-size: 20px;
    margin: 5px;
}