body {
  margin: 0 !important;
  font-family: 'Nunito', sans-serif;
  padding: 0 !important;
}

html {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}